* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-color: paleturquoise;
    font-size: 1.6rem;
}
header {
    min-height: 100vh;
    background-color: orchid;
}