@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* Default Syles */
:root {
    --surface-dark-400: hsl(210 10% 2%);
    --surface-dark-50: hsla(210, 10%, 2%, 50%);
    --font-light-100: hsl(210 10% 98%);
    --font-dark-400: rgb(142, 99, 186);
    --font-sm-size: 1.3rem;
    --card-font-sm: 13px;
    --card-font-md: 14px;
    --card-font-lg: 17px;
}
/* burger menu bars*/
.bar {
    background-color: var(--font-light-100);
    height: 2px;
    width: 30px;
    margin: 6px;
    transition: all 250ms ease;
}
/* Keyframes */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    
    }
    25% {
        opacity: 0;
    }
    50% {
        
    }
    100% {
        opacity: 100%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes dropDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {

    }
    100% {
    }
}
/* Default Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }
.sr-only {
    display: none;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a, a:hover, a:active {
    color: inherit;
}
input {
    border: none;
    outline: none;
}
textarea {
    inline-size: 25rem;
    resize: none;
    color: var(--font-dark-400);
    font-family: inherit;
    border: none;
    outline: none;
    padding: .8rem .4rem;
}
h2 {
    font-family: 'Rock Salt', cursive;
}
/* .project-img {
    height: 100%;
    width: 100%;
} */
.project img {
    height: 165px;
    width: 100%;
    border-radius: 6px;
}
.flex {
    display: flex;
}
.wrapper {
    max-width: 75%;
    margin: 0 auto
}
/*  html defaults    */
html {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--surface-dark-400);
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}
/* page defaults */
body {
    font-size: 1.6rem;
    font-family: 'Arimo', sans-serif;
    padding: .8rem .4rem;
}

section {
    scroll-snap-align: center;
    padding: 10rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* End of default styles */
/* Start of page styles */
/*Header section*/
header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.95)) ,url('./img/bg.jpg')center center/cover no-repeat;
    color: var(--font-light-100);
}
/* start of nav styles */
nav {
    flex: 0 0 auto;
    position: fixed;
    right: 0;
    max-inline-size: fit-content;
    z-index: 10;
}
/* nav container for mobile */
.nav-container {
    padding: 2rem;
    justify-content: flex-end;
    display: none;
}
.primary-nav {
    justify-content: flex-end;
    align-items: center;
}
/* mobile burger menu */
.btn {
    padding: .4rem;
    display: inline-block;
    align-self: center;
    border: 2px solid var(--font-primary-color);
    z-index: 9999;
}
        /* burger menu hover state */
.btn:hover {
    cursor: pointer;
}

.toggle .bar2{
    opacity: 0;
}
.toggle .bar1{
    transform: translateY(8px) rotate(45deg);
}
.toggle .bar3{
    transform: translateY(-8px) rotate(-45deg);
}

        /* Start of nav link styles */
@supports (backdrop-filter: blur(1rem)){
    .primary-nav {
        backdrop-filter: blur(1rem);
    }    
}

nav ul a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    text-decoration: none;
    transition: padding 250ms ease;
    position: relative;

}
nav ul a::before {
    content: '';
    background-color: var(--font-dark-400);;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 4px;
    z-index: -10;
    transition: all 1s ease;
}
nav ul a:hover::before {
    width: 100%;
    height: 3px;
}
nav ul a:hover {
    background: rgba(255, 255, 255,.1);
    color: var(--font-dark-400);
}


@media screen and (max-width: 776px) {
    .nav-container{
        display: flex!important;
    }
    .primary-nav {
        display: block;
        position: fixed;
        inset: 0 0 0 50%;
        /* flex-direction: column; */
/*        padding: min(30vh, 10vh) 2em;*/
        padding: 10rem 0 0 0;
        z-index: 1000;
        letter-spacing: 1px;
        font-size: 14px;
        transform: translateX(100%);
        transition: 350ms ease;
    }
    .primary-nav[data-visible="true"]  {
        transform: translateX(0%);
    }
    nav ul a:hover {
        padding-left: 3rem;
    }
}
/* End of nav styles */


/* Start of banner styles */
.banner {
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--font-light-100);
    margin-bottom: 2rem;
    animation: fadeIn 2s ease;
    font-weight: bold;
    animation: dropDown 2s ease;
}

#banner-link {
    color: var(--font-dark-400);
    display: inline-block;
    width: 75%;
    margin-bottom: 2rem;
    transition: all .5s ease;
    animation: moveInLeft 2.5s ease;
    font-size: 2.4rem;
}
#banner-link:hover {
    color: var(--font-light-100);
    transform: scale(1.02);
}
#banner-link:active {
    color: red;
}
.banner-icons {
    width: 50%;
    margin: auto;
    font-size: 3rem;
    justify-content: space-around;
}
.banner-icons a {
    display: inline-block;
    transition: all 250ms ease;
    animation: fadeIn 5s ease;
}
.banner-icons a:hover {
    color: var(--font-dark-400);
    transform: translateY(-5px);
}

    /* End of banner styles */
/* Start of skills section styles */
.skills {
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url('img/filler.jpg')center/cover fixed no-repeat;
    color: var(--font-light-100);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-center {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    align-items: center;
    grid-row-gap: 3.2rem;
}
/* End of skills section */
/* Start of projects section */
.project-img {
    display: grid;
    place-content: center;
}
#tic-tac-img {
    height: 164px;
    width: 164px;
}
.projects-section h2 {
    color: var(--font-light-100);
    margin-bottom: 4rem;
    padding: 2rem;
    align-self: center;
    border-bottom: 1px solid white;
    font-size: 2.6rem;
}
.projects-center {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
    grid-row-gap: 12rem;
    place-items: center;
}
.project {
    color: var(--font-dark-400);
    align-self: stretch;
    max-width: 300px;
    font-size: var(--card-font-md);
    line-height: 1.7;
    flex-direction: column;
    justify-content: space-between;
    transition: all 250ms ease;
    gap: 1.8rem;
    padding: 2.4rem .8rem;
    /* border-bottom: 2px solid white; */
}
.project .teckstack-info {
    letter-spacing: 2px;
    font-size: var(--card-font-sm);
}
.project p.techstack-react {
    color: #00d8ff;
}
.project p.techstack-js {
    color: #F0DB4F;
}
.project p.techstack-mern {
    color: #68A063;
}
.projects-section a {
    text-align: center;
    transition: all 250ms ease;
}

.github a:hover {
    color: var(--font-light-100);
}
.project h3{
    font-family: 'Rock Salt';
    font-size: var(--card-font-lg);
    color: var(--font-light-100);
    transition: all 250ms ease;
}
.project h3:hover {
    transform: scale(1.125);
}
.github {
    font-size: 2.4rem;
    text-align: center;
}
/* End of projects section */
/* Start of contact section styles */
#contact-banner {
    background: linear-gradient(hsla(210, 10%, 5%, 95%), hsla(210, 10%, 2%, 98%)), url('./img/contact.jpg')fixed center/cover no-repeat;
    color: var(--font-light-100);
    font-size: 1.7rem;
}
.contact-banner-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
    grid-row-gap: 3rem;
    text-align: center;
}
#contact-banner-info img {
    height: 200px;
    border-radius: 50%;
}
.user-details {
    text-align: left;
}
.contact-banner-center h2{
    padding: 1.3rem;
    font-family: 'Rock Salt';
}
.contact-banner-center p {
    letter-spacing: 1px;
    line-height: 3.2rem;
}
#contact-banner-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    align-content: center;
    margin-bottom: 8rem;
}
#contact-banner h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--font-dark-400);
}
.user-about {
    margin-bottom: 4rem;
    text-align: center;
}
.user-resume {
    text-align: center;
}
.user-resume a {
    display: inline-block;
    background-color: rgba(102, 51, 153, 0.462);
    padding: 1.2rem 2rem;
    border-radius: 6px;
    transition: background-color 250ms ease;
}
.user-resume a:hover {
    background-color: rgba(102, 51, 153, 0.762);
}
#contact-banner-form {
    background-color: var(--surface-dark-50);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    max-inline-size: 600px;
    height: max-content;
    justify-self: center;
    align-self: center;
    padding: 4rem;
}
#contact-banner-form h2{
    padding: 0;
}
.contact-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.contact-form .form-group {
    position: relative;
}
.form-group span {
    position: absolute;
    left: 4px;
    top: 13px;
    color: rebeccapurple;
    font-size: 1.25rem;
    pointer-events: none;
    text-transform: uppercase;
    padding: .2rem;
    border-left: 1px solid transparent;
    border-radius: 2px;
    transition: all 50ms ease;
}
.form-group input {
    inline-size: 25rem;
    font-size: 18px;
    border-radius: 2px;
    padding: .8rem .4rem;
    border: 1.25px solid transparent;
}
.form-group input:focus {
    border-color: rebeccapurple;
}
.form-group input:valid {
    border-color: #68A063;
}
.form-group input:focus ~ span,
.form-group input:valid ~ span {
    background: whitesmoke;
    font-size: .95rem;
    top: -5px;
    letter-spacing: 2px;
}
.form-group input:valid ~ span {
    color: #68A063;
    border-color: #68A063;
}
.form-group input:not(:placeholder-shown):invalid {
    border-color: tomato;
}
.form-group input:not(:placeholder-shown):invalid ~ span {
    top: -5px;
    color: tomato;
    background-color: whitesmoke;
    font-size: .95rem;
    letter-spacing: 2px;
    border-radius: 2px;
}
.form-group input:not(:placeholder-shown):invalid ~ span::after {
    content: '(NOT VALID)';
}
.contact-form button {
    display: inline-block;
    width: 25rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: rgba(102, 51, 153, 0.462);
    border: none;
    color: var(--font-light-100);
    transition: all 50ms ease;
}
.contact-form button:hover {
    cursor: pointer;
    background-color: hsla(270, 30%, 30%, 0.762);
}
.contact-form button:active {
    transform: scale(.985);
}

.contact-form textarea {
    transition: all 250ms ease;
    border-radius: 2px;
    border: 1.25px solid transparent;
}
.contact-form textarea:focus {
    border-color: rebeccapurple;
}
.contact-form textarea:valid {
    border-color: #68A063;
}
@media screen and (max-width: 776px) {
    .contact-banner-center {
        display: block;
    }
    .contact-banner-center h2{
    text-align: center;
    }
    #contact-banner-form {
        margin: 0 auto;
    }
    #contact-banner h2{
        margin-bottom: 1rem;
        padding: 0;
    }
}
/* End of contact section styles */
/* Start of footer styles */
footer {
    color: var(--font-light-100);
    font-size: var(--font-sm-size);
    text-align: right;
    padding: 4rem 0;
}
.footer-content {
    max-width: 32rem;
    margin: 0 auto
}
footer .banner-icons, .footer-text {
    padding: 2.4rem;
}
.footer-icons {
    width: 50%;
    margin: auto;
    font-size: 3rem;
    justify-content: space-around;
}
.footer-icons a {
    transition: color 250ms ease, transform 250ms ease;
}
.footer-icons a:hover {
    color: var(--font-dark-400);
    transform: translateY(-10px);
}
.footer-text {
    text-align: center
}
footer span {
    color: gray;
}
/* End of footer styles */