@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* Default Syles */
:root {
    --font-primary-color: #551a8b;
    --font-secondary-color: #ede4de;
    --font-sm-size: 1.3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }
.sr-only {
    display: none;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a, a:hover, a:active {
    color: inherit;
}
textarea {
    resize: none;
}
h2 {
    font-family: 'Rock Salt', cursive;
}
/* burger menu bars*/
.bar {
    background-color: var(--font-primary-color);
    height: 2px;
    width: 30px;
    margin: 6px;
    transition: all 250ms ease;
}
.flex {
    display: flex;
}
.wrapper {
    max-width: 75%;
    margin: 0 auto
}
/*  html defaults    */
html {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #18181b;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}
/* page defaults */
body {
    font-size: 2.6rem;
    font-family: 'Arimo', sans-serif;
}

section {
    scroll-snap-align: center;
    padding: 10rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* End of default styles */
/* Keyframes */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    
    }
    25% {
        opacity: 0;
    }
    50% {
        
    }
    100% {
        opacity: 100%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes dropDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {

    }
    100% {
    }
}






/* Start of page styles */
/*Header section*/
header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.95)) ,url('./img/bg.jpg')center center/cover no-repeat;
    color: var(--font-primary-color);
}
/* start of nav styles */
nav {
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}
/* nav container for mobile */
.nav-container {
    padding: 2rem;
    justify-content: flex-end;
    display: none;
}
.primary-nav {
    justify-content: flex-end;
    align-items: center;
}
/* mobile burger menu */
.btn {
    padding: .4rem;
    display: inline-block;
    align-self: center;
    border: 2px solid var(--font-primary-color);
    z-index: 9999;
}
        /* burger menu hover state */
.btn:hover {
    cursor: pointer;
}

.toggle .bar2{
    opacity: 0;
}
.toggle .bar1{
    transform: translateY(8px) rotate(45deg);
}
.toggle .bar3{
    transform: translateY(-8px) rotate(-45deg);
}

        /* Start of nav link styles */
@supports (backdrop-filter: blur(1rem)){
    .primary-nav {
        backdrop-filter: blur(1rem);
    }    
}

nav ul a {
    display: block;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    transition: all 1s ease;
    position: relative;
}
nav ul a::before {
    content: '';
    background-color: rebeccapurple;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -10;
    transition: all 1s ease;
}
nav ul a:hover::before {
    width: 100%;
    height: 3px;
}
nav ul a:hover {
    background: rgba(255, 255, 255,.1);
    color: red;
}


@media screen and (max-width: 776px) {
    .nav-container{
        display: flex!important;
    }
    .primary-nav {
        display: block;
        position: fixed;
        inset: 0 0 0 50%;
        /* flex-direction: column; */
/*        padding: min(30vh, 10vh) 2em;*/
        padding: 10rem 0 0 0;
        z-index: 1000;
        letter-spacing: 1px;
        font-size: 14px;
        transform: translateX(100%);
        transition: 350ms ease;
    }
    .primary-nav[data-visible="true"]  {
        transform: translateX(0%);
    }
    nav ul a:hover {
        padding-left: 3rem;
    }
}
/* End of nav styles */


/* Start of banner styles */
.banner {
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--font-secondary-color);
    margin-bottom: 2rem;
    animation: fadeIn 2s ease;
    font-weight: bold;
    animation: dropDown 2s ease;
}

#banner-link {
    color: var(--font-secondary-color);
    display: inline-block;
    width: 75%;
    margin-bottom: 2rem;
    transition: all .5s ease;
    animation: moveInLeft 2.5s ease;
}
#banner-link:hover {
    color: var(--font-primary-color);
    transform: scale(1.02);
}
#banner-link:active {
    color: red;
}
.banner-icons {
    width: 50%;
    margin: auto;
    font-size: 3rem;
    justify-content: space-around;
}
.banner-icons a {
    display: inline-block;
    transition: all 250ms ease;
    animation: fadeIn 5s ease;
}
.banner-icons a:hover {
    color: var(--font-secondary-color);
    transform: translateY(-10px);
}

    /* End of banner styles */

















/* Start of skills section styles */
.skills {
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url('img/filler.jpg')center/cover fixed no-repeat;
    color: var(--font-secondary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-center {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    grid-row-gap: 3.2rem;
}
/* End of skills section */
/* Start of projects section */
.projects-section {
    color: white;
}
.projects-section h2 {
    margin-bottom: 4rem;
    padding: 2rem;
    align-self: center;
    border-bottom: 1px solid whitesmoke;
}
.projects-center {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.projects-section a {
    transition: all 250ms ease;
}
.projects-section a:hover {
    color: whitesmoke;
}
.project {
    color: rebeccapurple;
    align-self: flex-start;
    max-width: 300px;
    font-size: 1.8rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 250ms ease;
    gap: 1.8rem;
    padding: 2.4rem .8rem;
    border-bottom: 2px solid white;
}
.project h3{
    font-family: 'Rock Salt';
}
/* End of projects section */










/* Start of contact section styles */
#contact-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('./img/contact.jpg')fixed center/cover no-repeat;
    color: var(--font-secondary-color);
    font-size: 1.7rem;
}
.contact-banner-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
    grid-row-gap: 3rem;
    text-align: center;
}
#contact-banner-info img {
    height: 200px;
    border-radius: 50%;
}
.user-details {
    text-align: left;
}
.contact-banner-center h2{
    padding: 1.3rem;
    font-family: 'Rock Salt'
}
.contact-banner-center p {
    letter-spacing: 1px;
    line-height: 3.2rem
}
#contact-banner-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    margin-bottom: 2rem;
}
#contact-banner h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: rebeccapurple;
}
.user-about {
    margin-bottom: 4rem;
}
.user-resume a {
    display: inline-block;
    background-color: rebeccapurple;
    padding: 1.2rem 2rem;
    border-radius: 6px;
}
.user-resume a:hover {
    background-color: gray;
}
#contact-banner-form {
    background-color: #18181b;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    justify-self: center;
    align-self: center;
    padding: 4rem;
}
#contact-banner-form h2{
    padding: 0;
}
.contact-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form .form-group {
    
    font-size: 2.4rem;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2.4rem;
    margin-bottom: 2rem;
} 
.form-group input {
    padding: .8rem 1rem;
    font-family: inherit;
    color: rebeccapurple;
    border: none;
    border-radius: 8px;
}
.form-group input:focus {
    outline: none;
}
.contact-form button {
    display: inline-block;
    font-size: 20px;
    width: 100%;
    padding: 1.2rem 2rem;
    border-radius: 10px;
    background-color: rebeccapurple;
    border: none;
    color: whitesmoke;
}
.contact-form button:hover {
    cursor: pointer;
    background-color: gray;
}
.contact-form textarea {
    border: none;
    padding: .2rem .4rem;
    border-radius: 8px;    
}
.contact-form textarea:focus {
    outline: none;
}
@media screen and (max-width: 776px) {
    .contact-banner-center {
        display: block;
    }
    .contact-banner-center h2{
    text-align: center;
    }
    #contact-banner-form {
        margin: 0 auto;
    }
    #contact-banner h2{
        margin-bottom: 0px;
        padding: 0;
    }
}
/* End of contact section styles */











/* Start of footer styles */
footer {
    color: var(--font-secondary-color);
    font-size: var(--font-sm-size);
    text-align: right;
    padding: 4rem 0;
}
.footer-content {
    max-width: 32rem;
    margin: 0 auto
}
footer .banner-icons, .footer-text {
    padding: 2.4rem;
}
.footer-icons {
    width: 50%;
    margin: auto;
    font-size: 3rem;
    justify-content: space-around;
}
.footer-icons a {
    transition: color 250ms ease, transform 250ms ease;
}
.footer-icons a:hover {
    color: rebeccapurple;
    transform: translateY(-10px);
}
.footer-text {
    text-align: center
}
footer span {
    color: gray;
}
/* End of footer styles */
